{#
/**
 * @file gcattr.html.twig
 * Default theme implementation to present gcattr data.
 *
 * This template is used when viewing gcattr pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gcattr()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gcattr') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
