{#
/**
 * @file gcfam.html.twig
 * Default theme implementation to present Family record data.
 *
 * This template is used when viewing Family record pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gcfam()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gcfam') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
