{#
/**
 * @file gcindi.html.twig
 * Default theme implementation to present Individual record data.
 *
 * This template is used when viewing Individual record pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gcindi()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gcindi') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
